.searchContainer {
  position: relative;
  display: flex;
}

.searchBar {
  position: relative;
  height: 48px;

  width: 1120px;
  padding-left: 24px;

  border: 1px solid var(--blueberry);
  border-radius: 24px;

  font-family: "Proxima Nova Regular";
  font-size: 20px;
  color: var(--plumbum);
}

.searchBar::placeholder {
  color: var(--asphalt);
}

.searchBar:focus {
  outline: none !important;
  border: 1px solid var(--plumbum);
}

.magnifierIcon {
  position: absolute;
  right: 24px;
  top: 12px;
}
